@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
scroll-behavior: smooth; /*smooth automatic scroll after clicking e.g. "contact"*/
}

body {
background-color: #272727;
font-family: "Open+Sans", sans-serif;
color: #b1b0b0;
font-size: 16px;
margin: 0;
}

h1 {
    color: #FFFFFF;
    font-size: 58px;
}

h2 {
    color: #FFFFFF;
    font-size: 36px;
}

h3 {
    font-size: 16px;
}

p {
    text-align: left;
    line-height: 175%;
}

#portrait {
    height: 78vh;
    width: auto;
}

#about-photo {
    height: 85vh;
    width: auto;
    margin-left: 10%;
}

#contact-photo {
    height: 70vh;
    border-radius: 2%;
}

#mail {
    display: flex;
    align-items: center;
}

#mail-icon {
    height: 50px;
    width: auto;
}

#mail-icon:hover {
    filter: drop-shadow(0 0 15px rgba(65, 183, 247, 0.8));
}

#mail-text {
    font-size: 16px;
    color: #b1b0b0;
    margin-left: 15px;
}

.double-mail {
    margin-top: 100px;
    position: relative;
    margin-top: 210px;
}

#mail-closed {
    height: auto;
    width: 25vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#mail-open {
    height: auto;
    width: 25vh;
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: 2;
}

#mail-open:hover {
    opacity: 1;
    transition: ease-in-out 0.1s;
}

section {
    margin-left: 130px;
    margin-right: 130px;
}

.get-in-touch-button {
    background-color: #1bb9e5;
    color: #272727;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
}

.get-in-touch-button:hover, .hire-button:hover {
    box-shadow: 0px 0px 15px 0.5px rgba(65, 183, 247, 0.8);
}

#get-in-touch, #hire {
    margin-top: 50px;
}

.hire-button {
    background-color: #1bb9e5;
    color: #272727;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 54px;
    border-radius: 8px;
    border: none;
}

li, a {
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
	/*color: rgb(116, 174, 255);*/
    text-shadow: 0px 0px 25px rgba(65, 183, 247, 1);
}

.nav-links {
	display: flex;
	justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #202020;
	padding: 25px 30%;
    margin: 0px;
    margin-bottom: 50px;
	list-style: none;
    text-decoration: none;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.hamburger {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    display: none; /* Initially hidden */
    z-index: 9999;
}

.overlay-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.overlay-nav-links > li {
    margin-bottom: 1.5rem;
}

.overlay-nav-links > a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-size: 36px;
    font-weight: 500;
}

/*#frontpage {grid-area: fp;}
#frontpage-photo {grid-area: fpp;}
#about {grid-area: a;}
#about-photo {grid-area: ap;}
#timeline-photo {grid-area: tp;}
#timeline {grid-area: t;}
#skills {grid-area: s;}
#skills-photo {grid-area: sp;}
#projects {grid-area: p;}
#projects-photo {grid-area: pp;}
#more-projects {grid-area: mp;}
#more-projects-photo {grid-area: mpp;}
#contact {grid-area: c;}
#contact-photo {grid-area: cp;}

.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 8px;
    grid-template-areas: 
        "fp fpp"
        "a ap"
        "tp t"
        "s sp"
        "p pp"
        "mp mpp"
        "c cp";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 750px 850px 850px 850px 850px 850px 850px;
}

.container > * {
    background-color: none; 
    text-align: center;
    padding: 10px;
}*/

/*TIMELINE START*/
.timeline1 {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.timeline1::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: none;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.event {
    width: 350px;
    padding: 0px 15px;
    border: 3px solid #1bb9e5;
    background-color: none;
    position: relative;
    margin-bottom: 20px;
}

.event > p {
    font-size: 12px;
}

.event::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: -10px;
    margin-top: -10px;
}

.event.right::before {
    left: auto;
    right: -10px;
}

.event.left {
    float: right;
}

.event.right {
    float: left;
}

.event:hover {
    color: #272727;
    background-color: #1bb9e5;
}
/*TIMELINE END*/

/* PROJECTS START*/
.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.box-photo {
    transition: transform 0.2s ease-in-out;
}

.box-photo > img {
    width: 280px;
    border-radius: 3px;
}

/* Box */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    max-height: 350px;
    min-width: 350px;
    min-height: 350px;
    background-color: #202020;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 35px 1px rgb(18, 18, 18);
}

.box > h3 {
    font-size: 20px;
}

/* Hover effect */
.box-photo:hover {
    transform: translateY(-10px);
    filter: drop-shadow(0 5px 12px rgba(65, 183, 247, 0.8));
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
    justify-content: center;
}

.child-container {
    flex: 1;
    align-self: center;
}

.container-skills1 {
    margin-bottom: 50px;
}

.icon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.skill-icon {
    display: flex;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 8%;
    box-shadow: 0px 0px 65px 15px rgb(18, 18, 18);
    justify-content: center;
    padding: 10px 10px;
    margin: 10px;
}

.skill-icon > img {
    height: 60px;
    width: auto;
    align-self: center;
}

/*.text {
    background-color: #1bb9e5;
    color: #272727;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 8%;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 10px;
    opacity: 80%;
}*/

footer {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 25px;
    background-color: #202020;

}

@media screen and (max-width: 768px) {
    section {
      margin-left: 20px;
      margin-right: 20px;
    }

    #portrait {
        height: 40vh;
        width: auto;
      }

    #about-photo {
        height: 50vh;
        width: auto;
    }

    .flip {
        flex-direction: column-reverse;
    }

    #mail-open:active {
        opacity: 1;
        transition: ease-in 0.1s;
    }

    .nav-links {
        display: none;
    }

    .overlay-nav-links {
        margin-top: 25%;
    }

    .hamburger {
        display: block;
        top: 10px;
        right: 10px;
        z-index: 999;
        position: absolute;
    }

  }

  @media screen and (min-width: 1440px) {
  .icon-list {
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
    list-style: none;
    }
  }
